<div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
<div id="how-it-works-sec" class="container set-pad" >
  <div class="row text-center">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
      <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="how-header-line">HOW IT WORKS</h1>
      <p data-scroll-reveal="enter from the bottom after 0.3s" >
        ProLancer is marketplace for freelance professional service providers.  Users can search, compare and hire freelancers and pay after their job is done.
      </p>
    </div>
  </div>
  <div class="row text-center " >
    <%= link_to "GET STARTED", login_path, :class =>"btn btn-info btn-set" %>
  </div>
  <!--/.HEADER LINE END-->
  <div class="row" >
    <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
      <div class="about-div">
        <i class="fa fa-search-plus fa-4x icon-round-border" ></i>
        <h3 >FIND</h3>
        <hr />
        <hr />
        <p >
          Looking for a someone to get your job done? That's just one click away. May it be filing your tax return or cleaning your car, we have professionals for all your Jobs.
        </p>
      </div>
    </div>
    <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
      <div class="about-div">
        <i class="fa fa-thumbs-up fa-4x icon-round-border" ></i>
        <h3 >HIRE</h3>
        <hr />
        <hr />
        <p >
          As soon as, you tell us what you need, our freelancers will get in touch with via our collaberative tool. You can discuss about your project, visit their profile and hire the best.
        </p>
      </div>
    </div>
    <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
      <div class="about-div">
        <i class="fa fa-rupee fa-4x icon-round-border" ></i>
        <h3 >PAY</h3>
        <hr />
        <hr />
        <p >
          Once your job is done. The freelancer will create an invoice for you. You may choose to pay by cash or card.  You may choose to take annual plans to get additional discounts.
        </p>
      </div>
    </div>
  </div>
</div>
</div>