<div id="services-sec" class="row" >
  <div class="overlay">
    <div class="container set-pad">
      <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
          <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">OUR SERVICES</h1>
          <p data-scroll-reveal="enter from the bottom after 0.3s">
          </p>
        </div>

      </div>
      <div class="row text-center " >
        <%= link_to "GET STARTED", login_path, :class =>"btn btn-info btn-set" %>
      </div>
      <!--/.HEADER LINE END-->
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i  class="fa fa-automobile fa-4x icon-round-border"  ></i>
          <a>AUTO REPAIR</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-legal  fa-4x icon-round-border" ></i>
          <a>LEGAL</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-video-camera fa-4x icon-round-border" ></i>
          <a>SHOOT</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-truck fa-4x icon-round-border" ></i>
          <a>HOME DELIVERY</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-camera fa-4x icon-round-border" ></i>
          <a>PHOTOGRAPHY</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-cutlery fa-4x icon-round-border" ></i>
          <a>CHEF</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-bug fa-4x icon-round-border" ></i>
          <a>PEST CONTROL</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-user fa-4x icon-round-border" ></i>
          <a>LAUNDRY</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-home fa-4x icon-round-border" ></i>
          <a>HOME REPAIR</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-paw fa-4x icon-round-border" ></i>
          <a>PET CARE</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-flash  fa-4x icon-round-border" ></i>
          <a>ELECTRICIAN</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-wheelchair  fa-4x icon-round-border" ></i>
          <a>ASSISTANCE</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-child fa-4x icon-round-border" ></i>
          <a>CHILDCARE</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-plane fa-4x icon-round-border" ></i>
          <a>TRAVEL AGENT</a>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
        <div class="about-div">
          <i class="fa fa-wrench fa-4x icon-round-border" ></i>
          <a>REPAIRING</a>
        </div>
      </div>
    </div>
  </div>
</div>
